@font-face {
    font-family: "Merriweather Sans";
    src: url(../fonts/MerriweatherSans-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merriweather Sans;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 250px;
    position: fixed;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s;
    z-index: 1000;
}
.header-link {
    font-size: 14.4px;
    background: none !important;
    color: rgba(255, 255, 255, 0.7) !important;
}
.header-link:hover {
    color: white !important;
}
.logo {
    background: none !important;
    font-size: 20px !important;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7) !important;
    padding-right: 100px;
}
.logo:hover {
    color: white !important;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
}
.header.scroll {
    background-color: #fff;
}
.header.scroll a {
    color: #000 !important;
}
.header.scroll a:hover {
    color: #f4623a !important;
}
.first {
    width: 100%;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom,
            rgba(92, 77, 66, 0.8) 0%,
            rgba(92, 77, 66, 0.8) 100%
        ),
        url(../img/bg-masthead.jpg);
    background-size: cover;
    background-position: center;
}
.first h1 {
    margin: auto;
    width: 40%;
    padding-top: 300px;
    font-size: 56px;
    color: #fff;
}
.first p {
    margin: auto;
    width: 40%;
    font-size: 18.4px;
    color: #fff;
    margin-bottom: 70px;
}
.first a {
    padding: 25px;
    font-size: 13.6px;
    font-weight: 700;
    text-decoration: none;
    border: 0px solid black;
    background-color: #f4623f;
    color: #fff;
    border-radius: 50px;
    transition: 0.3s;
}
.first a:hover {
    background-color: #cf5331;
}
.single-hr {
    height: 0.2rem;
    background-color: #fff;
    max-width: 3.25rem;
    border: 0;
    border-top: 1px solid;
    margin: 1.5rem auto;
}
.orange-hr {
    height: 0.2rem;
    background-color: #f4623a;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    border: 0;
    border-top: 1px solid;
}
.second {
    width: 100%;
    height: 50vh;
    text-align: center;
    background-color: #f4623a;
}
.second h2 {
    margin: auto;
    width: 40%;
    padding-top: 90px;
    font-size: 32px;
    color: #fff;
}
.second p {
    margin: auto;
    width: 40%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 70px;
}
.second a {
    padding: 25px;
    font-size: 13.6px;
    font-weight: 700;
    text-decoration: none;
    border: 0px solid black;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    transition: 0.3s;
}
.second a:hover {
    background-color: #babbbc;
}
.third {
    width: 100%;
    height: 40vh;
    text-align: center;
    background-color: #000;
}
.third h2 {
    margin: auto;
    margin-bottom: 70px;
    width: 40%;
    padding-top: 110px;
    font-size: 32px;
    color: #fff;
}
.third a {
    padding: 25px;
    font-size: 13.6px;
    font-weight: 700;
    text-decoration: none;
    border: 0px solid black;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    transition: 0.3s;
}
.third a:hover {
    background-color: #c6c7c8;
}
form {
    width: 100%;
    height: 100vh;
    text-align: center;
}
form h2 {
    margin: auto;
    margin-bottom: 30px;
    width: 40%;
    padding-top: 110px;
    font-size: 32px;
    color: #000;
}
form p {
    margin: auto;
    width: 25%;
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 70px;
}
form .form-group {
    margin-top: 20px;
    position: relative;
    display: flex;
    width: 40%;
    margin: 15px auto;
}
form .form-group label {
    padding-left: 10px;
    position: absolute;
    top: 25%;
    font-size: 20px;
    transition: 0.1s;
}
form input,
textarea {
    width: 100%;
    height: 55px;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 15px;
}
form textarea {
    height: 150px;
    padding-top: 30px;
}
form input,
textarea {
    &:focus {
        box-shadow: 0px 0px 5px 3px #dc3545;
    }
    &:focus + label {
        color: #6c757d;
        font-size: 15px;
        top: 10px;
    }
}
form button {
    border: 0;
    background-color: #f4623a;
    opacity: 0.65;
    width: 40%;
    font-size: 0.85rem;
    font-weight: 700;
    color: #ffff;
    border-radius: 30px;
    padding: 15px;
}
.form-icon {
    margin: 30px auto;
    height: 5vh;
    display: block;
}
.form-number {
    color: #000;
}
footer p {
    font-size: 14px;
    color: #6c757d;
    width: 100%;
    background-color: rgb(248, 249, 250);
    opacity: 1;
    margin: 0 auto;
    height: 130px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}
